.header_logos{

    float: left;
    img{
        width: 200px;
        height: 70px;
    }

}
.header_main{
    background-color: black;
    margin: 0%;
    padding: 0%;
    height: 70px;

}
.header_contenido{
    text-align: right;
    padding: 5px;
    padding-right: 15px;
}

.logo_login_main{
    font-size: 10px;
    border-left: 2px inset rgb(0, 0, 0);
    border-right: 2px inset rgb(0, 0, 0);
    border-top: 2px inset rgb(0, 0, 0);
    border-bottom: 2px inset rgb(0, 0, 0);
    background-color: #ffea31;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.Button_REGISTER{
    background-color: #ffea31;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}