.price_carrito{
  font-size: 50px;
    color: #ffffff;
	-webkit-text-stroke: 0.5px #000000;
 font-family: arial; color: #FEC02D;
 font-family: Cooper Black;
}
.price_carrito2{
    font-size: 60px;
      color: #ffffff;
      -webkit-text-stroke: 0.5px #fe2d2d;
   font-family: arial; color: #ff2020;
  }

  .price_carrito3{
    font-size: 20px;
      color: #ffffff;
      -webkit-text-stroke: 0.5px #fe2d2d;
   font-family: arial; color: #ff2020;
  }
  .ShowProducts_main{
    width: 100%;
    float: left;

    padding: 10px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }