.carousel_info_1{
  
}
.caroucel_main{
}
.caroucel_main_car1{
    img{
        width: 25%;
        float: left;
        padding: 20px;
        height: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

}
.caroucel_main_car2{
    img{
        width: 25%;
        float: left;
        padding: 20px;
        height: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
}
.caroucel_main_car3{
    img{
        width: 25%;
        float: left;
        padding: 20px;
        height: 300px;
        border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    }
    
}
.caroucel_main_car4{
    img{
        width: 25%;
        float: left;
        padding: 20px;
        height: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
}
