.upload-avatar{
    margin: 0 auto;
    border: 2px solid black;
    width: 80px;
    height: 80px;
}
.form-edit{
    padding: 50px;
}
.Register_products{
    padding: 50px;
}
 .form_editeproduct{
        background-color: transparent;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    
    }
.title_product{
    font-size: 50px;
    color: #ffffff;
	-webkit-text-stroke: 0.5px #000000;
 font-family: arial; color: #FEC02D;
 font-family: Cooper Black;
}