.upload-avat{
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    width: 50%;
}
.button_forma{
    text-align: center;
    width: 100%;
}
.tex_add_img{
    color: rgb(11, 133, 44);
    text-align: center;
}
.button_form{
    width: 100%;

}
.form-edite{
    background-color: transparent;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
