.logo_login_main{
    font-size: 40px;
    padding: 5px;
    border-left: 2px inset rgb(0, 0, 0);
    border-right: 2px inset rgb(0, 0, 0);
    border-top: 2px inset rgb(0, 0, 0);
    border-bottom: 2px inset rgb(0, 0, 0);
background-color: #FFD966;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
.text_login_main{
    color: rgb(22, 72, 236);
    font-size: 25px;
}
.imputs_bordes{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.success{
    background-color: rgb(208, 255, 208);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
 }
 
 .error{
    background-color: rgb(255, 243, 243);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    margin-left:  10px;
    margin-right: 10px;

  

   
 }
 
