.upload-avatar2{
    margin: 0 auto;
    width: 150px;
}
.button_forma{
    text-align: center;
    width: 100%;
}
.tex_add_img{
    color: rgb(11, 133, 44);
    text-align: center;
}
.button_form{
    width: 100%;

}
